{% extends 'layoutsubmenus.html.twig' %}

{% block title %}

      {{ parent() }}

{% endblock %}

{% block stylesheets %} {{ parent() }} 




{% endblock %}


{% block body %}

     <div id="google_translate_element" class="pull-right"  style="display:none"  ></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,fr,it', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

   

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Galeria de Videos
        <small></small>
      </h1>
 
      <div class="entry-content">
		<div class="yrc-shell-cover " data-yrc-uid="5bc56aa9797f7" data-yrc-channel="{&quot;meta&quot;:{&quot;user&quot;:&quot;Ana Bel\u00e9n Morales&quot;,&quot;channel&quot;:&quot;UCJ3jz0mfRV8Lw5tbPpdiSZA&quot;,&quot;key&quot;:&quot;yrc_1539664497&quot;,&quot;apikey&quot;:&quot;AIzaSyAXNxSx-1aJEfD1zZ9HeuyHKD83Qm0Vl7E&quot;,&quot;cache&quot;:&quot;10&quot;,&quot;channel_uploads&quot;:&quot;UUJ3jz0mfRV8Lw5tbPpdiSZA&quot;,&quot;onlyonce&quot;:&quot;&quot;,&quot;tag&quot;:&quot;&quot;,&quot;per_page&quot;:&quot;6&quot;,&quot;maxv&quot;:&quot;500&quot;,&quot;ads&quot;:&quot;1&quot;,&quot;uid&quot;:&quot;5bc56aa9797f7&quot;},&quot;style&quot;:{&quot;colors&quot;:{&quot;item&quot;:{&quot;background&quot;:&quot;inherit&quot;},&quot;button&quot;:{&quot;background&quot;:&quot;#333&quot;,&quot;color&quot;:&quot;#fff&quot;},&quot;color&quot;:{&quot;text&quot;:&quot;#fff&quot;,&quot;link&quot;:&quot;inherit&quot;,&quot;menu&quot;:&quot;#000&quot;,&quot;meta&quot;:&quot;inherit&quot;}},&quot;theme&quot;:{&quot;videos&quot;:{&quot;style&quot;:&quot;__grid&quot;,&quot;thumb&quot;:[&quot;large&quot;,&quot;open&quot;],&quot;desc&quot;:&quot;&quot;,&quot;carousel&quot;:{&quot;thumbs&quot;:&quot;4&quot;,&quot;thumbs_to_slide&quot;:&quot;2&quot;,&quot;spacing&quot;:&quot;8&quot;},&quot;carousel_nav&quot;:{&quot;modifier&quot;:&quot;__sides&quot;,&quot;position&quot;:&quot;left-none&quot;,&quot;location&quot;:&quot;prepend&quot;,&quot;background&quot;:&quot;#fff&quot;,&quot;color&quot;:&quot;#000&quot;,&quot;font_size&quot;:&quot;2&quot;,&quot;border_radius&quot;:&quot;0&quot;}},&quot;a&quot;:&quot;1&quot;},&quot;fit&quot;:&quot;false&quot;,&quot;playlists&quot;:&quot;true&quot;,&quot;uploads&quot;:&quot;true&quot;,&quot;player_mode&quot;:&quot;1&quot;,&quot;truncate&quot;:&quot;1&quot;,&quot;banner&quot;:&quot;true&quot;,&quot;thumb_margin&quot;:&quot;8&quot;,&quot;play_icon&quot;:&quot;&quot;,&quot;youtube_play_icon&quot;:&quot;&quot;,&quot;thumb_image_size&quot;:&quot;medium&quot;,&quot;default_tab&quot;:&quot;uploads&quot;,&quot;sticky&quot;:{&quot;enable&quot;:&quot;&quot;,&quot;width&quot;:&quot;400&quot;,&quot;position&quot;:&quot;bottom-right&quot;,&quot;only_above&quot;:&quot;768&quot;,&quot;margin&quot;:&quot;12&quot;},&quot;player&quot;:{&quot;show_desc&quot;:&quot;&quot;,&quot;show_meta&quot;:&quot;&quot;},&quot;menu&quot;:&quot;1&quot;,&quot;rating_style&quot;:&quot;NaN&quot;,&quot;rtl&quot;:false}}" data-yrc-setup=""></div>
			<script data-cfasync="false" type="text/javascript">
				if( !window.YRC ) var YRC = {Data:{}};
				YRC.Data["5bc56aa9797f7"] = {"uploads":{"nextPageToken":"CAYQAA","pageInfo":{"totalResults":13,"resultsPerPage":6},"items":[{"kind":"youtube#searchResult","id":"8_oP2bYwkcU","snippet":{"publishedAt":"2018-08-27T15:33:31.000Z","channelId":"UCJ3jz0mfRV8Lw5tbPpdiSZA","title":"Minga para nuestro Parque","description":"Minga para nuestro Parque\n\nLa minga fue realizada el pasado 15 de julio, gracias a la iniciativa de Ana Bel\u00e9n Morales, Reina de Amagua\u00f1a 2018.\nPara m\u00e1s informaci\u00f3n sobre el trabajo que est\u00e1 realizando, puede visitar su p\u00e1gina de Facebook:\n\nhttps:\/\/www.facebook.com\/sonrieamaguana\/\n\n#Amagua\u00f1a #Quito #Pichincha #Ecuador #Noticias #Comunidad","thumbnails":{"default":{"url":"https:\/\/i.ytimg.com\/vi\/8_oP2bYwkcU\/default.jpg","width":120,"height":90},"medium":{"url":"https:\/\/i.ytimg.com\/vi\/8_oP2bYwkcU\/mqdefault.jpg","width":320,"height":180},"high":{"url":"https:\/\/i.ytimg.com\/vi\/8_oP2bYwkcU\/hqdefault.jpg","width":480,"height":360}},"channelTitle":"Ana Bel\u00e9n Morales","liveBroadcastContent":"none"},"contentDetails":{"duration":"PT5M25S","dimension":"2d","definition":"hd","caption":"false","licensedContent":false,"projection":"rectangular"},"statistics":{"viewCount":"13","likeCount":"0","dislikeCount":"0","favoriteCount":"0","commentCount":"0"}},{"kind":"youtube#searchResult","id":"irrvHLksEE0","snippet":{"publishedAt":"2018-08-27T13:33:12.000Z","channelId":"UCJ3jz0mfRV8Lw5tbPpdiSZA","title":"\"La m\u00fasica es el arte que entra por el o\u00eddo y va directo al coraz\u00f3n\" Magdalena Mart\u00ednez","description":"#HoyDescubr\u00edQueAmagua\u00f1a tiene mucho talento","thumbnails":{"default":{"url":"https:\/\/i.ytimg.com\/vi\/irrvHLksEE0\/default.jpg","width":120,"height":90},"medium":{"url":"https:\/\/i.ytimg.com\/vi\/irrvHLksEE0\/mqdefault.jpg","width":320,"height":180},"high":{"url":"https:\/\/i.ytimg.com\/vi\/irrvHLksEE0\/hqdefault.jpg","width":480,"height":360}},"channelTitle":"Ana Bel\u00e9n Morales","liveBroadcastContent":"none"},"contentDetails":{"duration":"PT32S","dimension":"2d","definition":"sd","caption":"false","licensedContent":false,"projection":"rectangular"},"statistics":{"viewCount":"6","likeCount":"0","dislikeCount":"0","favoriteCount":"0","commentCount":"0"}},{"kind":"youtube#searchResult","id":"dc9mtiwXnEY","snippet":{"publishedAt":"2018-08-27T13:27:42.000Z","channelId":"UCJ3jz0mfRV8Lw5tbPpdiSZA","title":"Cachiporreros Amagua\u00f1a","description":"Desfile C\u00edvico Militar\nSab\u00edas que los \"cachiporreros\" son hombres que portan la cachiporra y hacen maniobras con ella en los desfiles\n\n#Sonr\u00edeAmagua\u00f1a en tus 157 a\u00f1os","thumbnails":{"default":{"url":"https:\/\/i.ytimg.com\/vi\/dc9mtiwXnEY\/default.jpg","width":120,"height":90},"medium":{"url":"https:\/\/i.ytimg.com\/vi\/dc9mtiwXnEY\/mqdefault.jpg","width":320,"height":180},"high":{"url":"https:\/\/i.ytimg.com\/vi\/dc9mtiwXnEY\/hqdefault.jpg","width":480,"height":360}},"channelTitle":"Ana Bel\u00e9n Morales","liveBroadcastContent":"none"},"contentDetails":{"duration":"PT32S","dimension":"2d","definition":"sd","caption":"false","licensedContent":false,"projection":"rectangular"},"statistics":{"viewCount":"6","likeCount":"0","dislikeCount":"0","favoriteCount":"0","commentCount":"0"}},{"kind":"youtube#searchResult","id":"2CY73uV8kuY","snippet":{"publishedAt":"2018-08-27T13:24:25.000Z","channelId":"UCJ3jz0mfRV8Lw5tbPpdiSZA","title":"Bastoneras Amagua\u00f1a","description":"Desfile C\u00edvico Militar\nSab\u00edas que las \"bastoneras\" son chicas que forman parte de un grupo que desfila por las calles seguido de una orquesta para celebrar sus fiestas locales. La belleza amagua\u00f1ense representada a trav\u00e9s de las estudiantes de la Unidad Educativa Jacinto Jij\u00f3n y Caama\u00f1o\n\n#Sonr\u00edeAmagua\u00f1a en tus 157 a\u00f1os","thumbnails":{"default":{"url":"https:\/\/i.ytimg.com\/vi\/2CY73uV8kuY\/default.jpg","width":120,"height":90},"medium":{"url":"https:\/\/i.ytimg.com\/vi\/2CY73uV8kuY\/mqdefault.jpg","width":320,"height":180},"high":{"url":"https:\/\/i.ytimg.com\/vi\/2CY73uV8kuY\/hqdefault.jpg","width":480,"height":360}},"channelTitle":"Ana Bel\u00e9n Morales","liveBroadcastContent":"none"},"contentDetails":{"duration":"PT27S","dimension":"2d","definition":"sd","caption":"false","licensedContent":false,"projection":"rectangular"},"statistics":{"viewCount":"14","likeCount":"0","dislikeCount":"0","favoriteCount":"0","commentCount":"0"}},{"kind":"youtube#searchResult","id":"b8R2gE_GfqM","snippet":{"publishedAt":"2018-08-27T13:22:04.000Z","channelId":"UCJ3jz0mfRV8Lw5tbPpdiSZA","title":"P\u00e1jaros Azules","description":"Desfile C\u00edvico Militar\nSab\u00edas que los \"p\u00e1jaros azules\" son parte de la Polic\u00eda Nacional y su nombre se debe a los movimientos que realizan sobre la motocicleta en movimiento\n\n#Sonr\u00edeAmagua\u00f1a en tus 157 a\u00f1os","thumbnails":{"default":{"url":"https:\/\/i.ytimg.com\/vi\/b8R2gE_GfqM\/default.jpg","width":120,"height":90},"medium":{"url":"https:\/\/i.ytimg.com\/vi\/b8R2gE_GfqM\/mqdefault.jpg","width":320,"height":180},"high":{"url":"https:\/\/i.ytimg.com\/vi\/b8R2gE_GfqM\/hqdefault.jpg","width":480,"height":360}},"channelTitle":"Ana Bel\u00e9n Morales","liveBroadcastContent":"none"},"contentDetails":{"duration":"PT16S","dimension":"2d","definition":"sd","caption":"false","licensedContent":false,"projection":"rectangular"},"statistics":{"viewCount":"1","likeCount":"0","dislikeCount":"0","favoriteCount":"0","commentCount":"0"}},{"kind":"youtube#searchResult","id":"kGXsdfFhKng","snippet":{"publishedAt":"2018-08-27T13:20:42.000Z","channelId":"UCJ3jz0mfRV8Lw5tbPpdiSZA","title":"Colegios Amagua\u00f1a","description":"Desfile C\u00edvico Militar\nEl orgullo y amor por parte de los estudiantes hacia sus instituciones fue evidente a lo largo del desfile. He aqu\u00ed un claro ejemplo del colegio Luis Eguiguren.\n#Sonr\u00edeAmagua\u00f1a por tus 157 a\u00f1os de parroquializaci\u00f3n","thumbnails":{"default":{"url":"https:\/\/i.ytimg.com\/vi\/kGXsdfFhKng\/default.jpg","width":120,"height":90},"medium":{"url":"https:\/\/i.ytimg.com\/vi\/kGXsdfFhKng\/mqdefault.jpg","width":320,"height":180},"high":{"url":"https:\/\/i.ytimg.com\/vi\/kGXsdfFhKng\/hqdefault.jpg","width":480,"height":360}},"channelTitle":"Ana Bel\u00e9n Morales","liveBroadcastContent":"none"},"contentDetails":{"duration":"PT31S","dimension":"2d","definition":"sd","caption":"false","licensedContent":false,"projection":"rectangular"},"statistics":{"viewCount":"11","likeCount":"0","dislikeCount":"0","favoriteCount":"0","commentCount":"0"}}]},"banner":{"kind":"youtube#channelListResponse","etag":"\"XI7nbFXulYBIpL0ayR_gDh3eu1k\/EVcuxZGJx3_ssEXE-3d-qzndKmw\"","pageInfo":{"totalResults":1,"resultsPerPage":1},"items":[{"kind":"youtube#channel","etag":"\"XI7nbFXulYBIpL0ayR_gDh3eu1k\/bGwJeoFX20bW7MqufUKeDCY37sA\"","id":"UCJ3jz0mfRV8Lw5tbPpdiSZA","snippet":{"title":"Ana Bel\u00e9n Morales","description":"","publishedAt":"2018-08-27T12:44:14.000Z","thumbnails":{"default":{"url":"https:\/\/yt3.ggpht.com\/a-\/AN66SAwe9wgeq3Jlr0D6VWjJH70uUk73X3k65BOc5g=s88-mo-c-c0xffffffff-rj-k-no","width":88,"height":88},"medium":{"url":"https:\/\/yt3.ggpht.com\/a-\/AN66SAwe9wgeq3Jlr0D6VWjJH70uUk73X3k65BOc5g=s240-mo-c-c0xffffffff-rj-k-no","width":240,"height":240},"high":{"url":"https:\/\/yt3.ggpht.com\/a-\/AN66SAwe9wgeq3Jlr0D6VWjJH70uUk73X3k65BOc5g=s800-mo-c-c0xffffffff-rj-k-no","width":800,"height":800}},"localized":{"title":"Ana Bel\u00e9n Morales","description":""}},"contentDetails":{"relatedPlaylists":{"uploads":"UUJ3jz0mfRV8Lw5tbPpdiSZA","watchHistory":"HL","watchLater":"WL"}},"statistics":{"viewCount":"69","commentCount":"0","subscriberCount":"0","hiddenSubscriberCount":false,"videoCount":"13"},"brandingSettings":{"channel":{"title":"Ana Bel\u00e9n Morales","defaultTab":"Featured","showRelatedChannels":true,"showBrowseView":true,"profileColor":"#000000"},"image":{"bannerImageUrl":"http:\/\/s.ytimg.com\/yts\/img\/channels\/c4\/default_banner-vfl7DRgTn.png"},"hints":[{"property":"channel.featured_tab.template.string","value":"Everything"},{"property":"channel.modules.show_comments.bool","value":"True"}]}}]},"playlists":{"nextPageToken":"","pageInfo":{"totalResults":1,"resultsPerPage":6},"items":[{"kind":"youtube#playlist","id":"PLLBHdbYb6wBUpnYy6gQoYP71vjBRdPfiQ","snippet":{"publishedAt":"2018-09-26T04:03:42.000Z","channelId":"UCJ3jz0mfRV8Lw5tbPpdiSZA","title":"Sonrie Amagua\u00f1a","description":"","thumbnails":{"default":{"url":"https:\/\/i.ytimg.com\/vi\/8_oP2bYwkcU\/default.jpg","width":120,"height":90},"medium":{"url":"https:\/\/i.ytimg.com\/vi\/8_oP2bYwkcU\/mqdefault.jpg","width":320,"height":180},"high":{"url":"https:\/\/i.ytimg.com\/vi\/8_oP2bYwkcU\/hqdefault.jpg","width":480,"height":360},"standard":{"url":"https:\/\/i.ytimg.com\/vi\/8_oP2bYwkcU\/sddefault.jpg","width":640,"height":480},"maxres":{"url":"https:\/\/i.ytimg.com\/vi\/8_oP2bYwkcU\/maxresdefault.jpg","width":1280,"height":720}},"channelTitle":"Ana Bel\u00e9n Morales","localized":{"title":"Sonrie Amagua\u00f1a","description":""}},"contentDetails":{"itemCount":14}}]}};
				(function(){
					if(!YRC.loaded){
					    YRC.loaded = true;
						function YRC_Loader(){
							//YRC.loaded = true;
							YRC.is_pro = false;
							YRC.lang = {"form":{"Videos":"Videos","Playlists":"Playlists","Search":"Search","Loading":"Loading","more":"more","Nothing_found":"Nothing found","Prev":"Previous","Next":"Next"},"fui":{"sort_by":"Sort by","relevant":"Relevant","latest":"Latest","liked":"Liked","title":"Title","views":"Views","duration":"Duration","any":"Any","_short":"Short","medium":"Medium","_long":"Long","uploaded":"Uploaded","all_time":"All time","live_now":"Live Now","today":"Today","ago":"ago","last":"Last","day":"day","days":"days","week":"week","weeks":"weeks","month":"month","months":"months","year":"year","years":"years","older":"Older","show_more":"Show More","reply":"REPLY","view_replies":"View replies","write_comment":"Write comment...","billion":"B","million":"M","thousand":"K","max_plain_number":1000,"wplocale":"en_GB"}};	
							var script = document.createElement("script");
								script.setAttribute("data-cfasync", "false");
								script.setAttribute("type", "text/javascript");
								script.src = "/web/public/js/yrc.js";
								script.id = "yrc-script";
								document.querySelector("head").appendChild(script);
							var style = document.createElement("link");
								style.rel = "stylesheet";
								style.href = "/web/public/css/style.css";
								style.type = "text/css";
								document.querySelector("head").appendChild(style);
						}
						if(window.jQuery){YRC_Loader();}else { var yrctimer2324 = window.setInterval(function(){
							if(window.jQuery){YRC_Loader(); window.clearInterval(yrctimer2324); }
						}, 250);}
					} else {if(YRC.EM)YRC.EM.trigger("yrc.newchannel");}
				}());</script>
	</div><!-- .entry-content -->
     
       
    
    
    
      
       {#fin de modales#}
    
     <br/>
     <br/>
     <br/>
     
   

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark" >
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Reinado de Amaguaña 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
         	 
         
          
{% endblock %}




 {% block scripts %} {{ parent() }} {% endblock %}

